<%- include ../partials/header %>

<table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
        <th>Flight</th>
      </tr>
    </thead>
    <tbody>
  
      
    </tbody>
  </table>   
      
<%- include ../partials/footer %> 