<%- include ../partials/header %>

<table>
    <thead>
      <tr></tr>
      <tr>
        <th>Seat</th>
        <th>Price</th>
        <th>Flight</th>
      </tr>
    </thead>
    <tbody>
      <form action="/flights/<%= flight._id %>/tickets" method="POST"> 
        <td><input placeholder="ex: A-F 1-99" name="seat" required pattern="[A-F][1-9]\d?"></td>
        <td>
          $<input type="number" name="price">
        </td>
        <td>
          <%= flight.flightNo  %>
        </td>
        <td>
          <button type="submit">Submit</button>
        </td>
      </form>
    </tbody>
  </table>   
      
<%- include ../partials/footer %> 