<%- include partials/header %> 
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departs</th>
        </tr>
      </thead>

    </table>
</html>
