* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #272728;
  }
  
  body {
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
      "nav"
      "main"
  }
  
  body > nav {
    grid-area: nav;
    background-color: rgb(48, 101, 237);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
  }
  
  h1 {
      text-align: center;
      margin-bottom: 1em;
  }
  
  nav > a {
    margin: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav > a:hover {
    color: white;
    background-color: #424748;
  }
  
  nav > a.active {
    color: white;
  }
  
  
  table {
    font-size: 20px;
  }
  
  table thead th {
    padding: 5px;
    border-bottom: 2px solid #424748;
  }
  
  table td {
    padding: 10px;
    text-align: center;
  }

  #new-flight-form {
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto;
  }

  #new-flight-btn {
      padding: 5px;
      font-size: 1rem;
  }

  #show-page {
      margin: 0 auto;
  }

  #edit-flight-form {
    display: grid;
    margin: 0 auto;
  }