<%- include ../partials/header %>
<body>
  <form id="new-flight-form" action="flights" method="POST">
      <label>Airline:
        <select name="airline">
            <option value="American Airlines">American</option>
            <option value="Southwest Airlines">Southwest</option>
            <option value="United Airlines">United</option>
          </select>
      </label><br>
      <label>Airport:
        <select name="airport">
            <option value="ATX">Austin</option>
            <option value="DFW">Dalla</option>
            <option value="DEN">Denver</option>
            <option value="LAX">Los Angeles</option>
            <option value="SD">San Diego</option>
          </select>
      </label><br>
      <label>Flight Number:
        <input type="number" name="flightNo">
      </label><br>
      <label>Departure:
        <input type="datetime-local" name="departure">
      </label><br>
      
      <input id="new-flight-btn" type="submit" value="Add Flight">
  </form> 
  </body>
  
<%- include ../partials/footer %>