<%- include ../partials/header %> 
    <form id="add-review-form" method="POST"
    action="/flights/<% flight %>">
    </form>
    <section id="show-page">
        <div>Flight #: </div>
        <div><%= flightNum %></div>
      </section>
</body>
</html>